<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contact Me!</title>
</head>

<body style="height: 100vh;margin: 0;border: 0;box-sizing: border-box">
    <header
        style="background: linear-gradient(to right,#0cbaba, #008e9b );text-align: center;text-transform: uppercase;padding: 1px;font-weight: bold;color: white;letter-spacing: 1.5px;font-size: 1.3rem;">
        <p>MANEESHA VENIGALLA</p>
    </header>
    <main style="margin-left: 2rem;color:black">
        <h3>Hello {{name}},</h3>
        <p>I have received your message and would like to thank you for writing to me.</p>
        <p>I will look over your message and get back to you ASAP!</p>
        <p>Have a nice day.</p>
        <p>Regards,</p>
        <h3 style="color:#0cbaba">Maneesha Venigalla</h3>
    </main>
</body>

</html>