<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Subscriber!</title>
</head>


<body style="height: 100vh;margin: 0;border: 0;box-sizing: border-box">
    <header
        style="background: linear-gradient(to right,#0cbaba, #008e9b );text-align: center;text-transform: uppercase;padding: 1px;font-weight: bold;color: white;letter-spacing: 1.5px;font-size: 1.3rem;">
        <p>MANEESHA VENIGALLA</p>
    </header>

    <main style="margin-left: 2rem;color:black">
        <h3>Hello Maneesha,</h3>
        <p>This is my email - {{email}}. Subscribe me to your newsletter.</p>
        <p>Regards,</p>
        <h3 style="color:#0cbaba">{{email}}</h3>
    </main>
</body>

</html>