<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Subscriber!</title>
</head>


<body style="height: 100vh;margin: 0;border: 0;box-sizing: border-box">
    <header
        style="background: linear-gradient(to right,#0cbaba, #008e9b );text-align: center;text-transform: uppercase;padding: 1px;font-weight: bold;color: white;letter-spacing: 1.5px;font-size: 1.3rem;">
        <p>MANEESHA VENIGALLA</p>
    </header>

    <main style="margin-left: 2rem;color:black">
        <h3>Hello,</h3>
        <p>I’d like to extend a warm welcome and ‘thank you’ for subscribing to my blog newsletter. I recognize that
            your time is valuable and I’m seriously flattered that you chose to join us.</p>
        <p>I`m here to answer each and every question you have so feel free to shoot me an email and I`ll get back to
            you ASAP!</p>
        <p>Super excited to start this new journey together.</p>
        <p>Regards,</p>
        <h3 style="color:#0cbaba">Maneesha Venigalla</h3>
    </main>
</body>

</html>